* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.header {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.17);
    border: 1px solid #ececec;
}

.container {
    width: 1200px;
    height: 100px;
    margin: 0 auto;
    padding: 0 30px;

}

.box-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.logo {
    display: block;
    color: #222222;
    font-family: sans-serif;
    font-size: 27px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.68px;
    text-decoration: none;
    padding: 25px 0;
}

.logo span {
    color: #f16d7f;
    font-weight: 400;
    letter-spacing: 0.68px;
}

.my_acc {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    color: #ffffff;
    font-family: Lato;
    font-size: 15px;
    font-weight: 400;
    line-height: 32px;
    letter-spacing: 0.38px;
}

.nav {
    height: 51px;

}

.nav ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
}

.nav li {
    margin: 0 15px;
    line-height: 54px;
    line
}

.nav a {
    color: #222222;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px 7px;
}

.active_link {
    border-bottom: 3px solid #ef5b70;
}
